<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414884414531-8j0svklkedlmecgnnnloqad12p9nir1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414884414531-8j0svklkedlmecgnnnloqad12p9nir1n</string>
	<key>API_KEY</key>
	<string>AIzaSyA-9WbdVJl195k7fZiE5YmI0IYV0X2Mp50</string>
	<key>GCM_SENDER_ID</key>
	<string>414884414531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatCleanArch</string>
	<key>PROJECT_ID</key>
	<string>group-chat-3516c</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-3516c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414884414531:ios:4b8ba922b9cc260dc6c0f6</string>
</dict>
</plist>